<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>First HTML</title>
</head>
<body>
<h1>Invoice Application</h1>
<p>Text from Paragraph</p>
<p th:text="${myMessage}">This is a placeholder for Invoice App</p>
<p th:text="${myMessageOne}">This is a placeholder for Invoice App List Product</p>
<p th:text="${myMessageTwo}">This is a placeholder for Invoice App Dependencies</p>
<p th:text="${myMessageThree}">This is a placeholder for Invoice App Dependency 1</p>
<p th:text="${myMessageFour}">This is a placeholder for Invoice App Dependency 2</p>
<p th:text="${myMessageFive}">This is a placeholder for Invoice AppDependency 3</p>
</body>
</html>